# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# Tkinter files
*.tcl
*.tk

# VS Code
.vscode/

# Environment
env/
venv/
*.env
*.venv
*.conda
conda/
environment.yml

# PyInstaller
*.spec
output/

# Miscellaneous
*.log
*.DS_Store
*.pdb
*.pot

# Coverage reports
.coverage
htmlcov/

*.ipynb
tests/output
